---
interface Props {
	session: any;
	id: number;
	name: string;
	services: {};
	seasons: {};
	description: string;
	categories: {};
	stars: number;
	n_califications: number;
}

const { session, id, image, name, services, seasons, description, categories, stars, n_califications } = Astro.props;
---
<div class="card">
	<img src=`/images/${image}` alt="Imagen de la serie" class="serie-img">
	<h3>{name}</h3>
	<!-- <p>{description}</p> -->
	<div class="details">
<!-- 		
		<p><span>Servicios:</span> {
			Object.keys(services).map((service, index) => (
			<>
        {index > 0 && ', '}
        {service}
      </>
			))
		}</p>
		<p><span>Temporadas:</span> {
			Object.keys(seasons).map((season, index) => (
      <>
        {index > 0 && ', '}
        {season}
      </>
    ))}
		</p>
		<p><span>Categorías:</span> {
			Object.keys(categories).map((category, index) => (
				<>
					{index > 0 && ', '}
					{category}
				</>
			))
		}</p> -->
		<p><span>Estrellas:</span> {stars}</p>
		<p><span>Número de calificaciones:</span> {n_califications}</p>
	</div>
</div>

<style>	
	.card {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 12px;
    max-width: 300px;
    margin: 16px;
  }

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card p {
  font-size: 1rem;
  line-height: 1.4;
}

.card .details {
  margin-top: 12px;
}

.card .details span {
  font-weight: bold;
}

.card .buttons {
  margin-top: 12px;
}

.card .buttons button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.card .buttons button:hover {
  background-color: #0056b3;
}
.serie-img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

</style>
